.main_block_animation {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  height: 180px;
  width: 180px;
}

.main_background_callback {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: bounce_2 3s linear infinite;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background: rgb(158, 90, 90);
}

@keyframes bounce_2 {
  from {
    height: 150px;
    width: 150px;
    animation-timing-function: ease-out;
  }
  25% {
    height: 125px;
    width: 125px;
    animation-timing-function: ease-in;
  }
  50% {
    height: 100px;
    width: 100px;
    background: rgba(158, 90, 90, 0.3);
    animation-timing-function: ease-out;
  }
  75% {
    height: 125px;
    width: 125px;
    background: rgba(158, 90, 90, 0.6);
    animation-timing-function: ease-in;
  }
  to {
    height: 150px;
    width: 150px;
  }
}

.background_callback {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: bounce 3s linear infinite;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: rgb(207, 93, 93);
}

@keyframes bounce {
  from {
    height: 100px;
    width: 100px;
    /* opacity: 0.8; */
    animation-timing-function: ease-out;
  }
  25% {
    height: 80px;
    width: 80px;
    /* opacity: 0.6; */
    background: rgba(207, 93, 93, 0.6);
    animation-timing-function: ease-in;
  }
  50% {
    height: 60px;
    width: 60px;
    background: rgba(207, 93, 93, 0.6);
    animation-timing-function: ease-out;
  }
  75% {
    height: 70px;
    width: 70px;
    /* opacity: 0.2; */
    background: rgba(207, 93, 93, 0.2);
    animation-timing-function: ease-in;
  }
  to {
    height: 100px;
    width: 100px;
    /* opacity: 0; */
  }
}

.round_callback {
  cursor: pointer;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  transition: 0.8s;
  background: rgb(105, 27, 27);
}

.round_callback:hover {
  transition: 0.8s;
  background: rgb(184, 54, 54);
}

.img_callback {
  margin-top: 0;
  animation: bounce_3 1.5s ease-in-out infinite;
}

@keyframes bounce_3 {
  from {
    /* opacity: 0.8; */
    transform: rotate(0deg);
    animation-timing-function: ease;
  }
  25% {
    /* opacity: 0.6; */
    transform: rotate(-15deg);
    animation-timing-function: ease;
  }
  to {
    /* opacity: 0; */
    transform: rotate(0deg);
  }
}

.containers > .popover {
  display: none;
  background: none;
  min-width: 600px;
  border: none;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.containers > .popover:target {
  position: fixed;
  margin-top: 10%;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .contents {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #191919;
  animation: 0.5s grow ease forwards;
  text-align: center;
}

@keyframes grow {
  100% {
    height: 65%;
    width: 100%;
  }
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #bf2e97;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards 0.5s;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

/* ANOMATION */
.contents {
  position: absolute;
  width: 100%;
  padding: 40px;
  right: 50%;
  transform: translate(50%, -25%);
  background: rgba(201, 188, 188, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: 1.4s;
  opacity: 0.6;
}

.contents:hover {
  transition: 1.4s;
  opacity: 1;
}

.contents h2 {
  margin: 0 0 102px;
  margin-right: 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.contents .user-box {
  position: relative;
}

.contents .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.contents .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.contents .user-box input:focus ~ label,
.contents .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.contents form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.contents a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.contents a span {
  position: absolute;
  display: block;
}

.contents a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.contents a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.contents a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.contents a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* MEDIA */
@media screen and (max-width: 670px) {
  .containers > .popover:target {
    position: fixed;
    margin-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 400px;
    height: 100%;
  }
}

@media screen and (max-width: 470px) {
  .containers > .popover:target {
    position: fixed;
    margin-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 350px;
    height: 100%;
    max-height: 500px;
  }
}
/* END MEDIA */
